* {
  margin:auto;
  padding: 0;
}

h1 {
  font-family:"Spirax", cursive;
}

.text-main {
  width: 380px;
  height:300px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(66, 179, 244, 0.5);
  float:right;
  margin-right: 10px;
  margin-top: 10px;
  padding: 35px 20px 0px 20px;
  text-align: center
}

.head {
  border: 4px solid grey;
  width: 1000px;
  height: 400px;
  background: url(347HHH.jpg) no-repeat 40% 20%;
}

.wealthandpoverty-text {
  border: 4px solid grey;
  width: 1000px;
  height: 300px;
  padding: 10px;
 /* background-color:#f1e767;*/
}

.quote {
  width: 320px;
  padding: 40px;
  border: 6px solid grey;
  margin: 30px;
  background-color: rgba(244, 242, 242, 0.7);
  border-radius: 15px;
}


.life {
  border: 4px solid grey;
  width: 1000px;
  height: 350px;
  background-color: #88bacf;
}

#hidden {
  font-size: 46px;
  visibility:hidden;
}

.nature {
  border: 4px solid grey;
  width: 1000px;
  height: 430px;
  padding: 10px;
  background: url(railL.jpg);
  position:relative;
}

.one {
  height: 230px;
}

.obstacles {
  height: 198px;
}

.literature {
  border: 4px solid grey;
  width: 1000px;
  height: 630px;
  background-color: #89dacd;
}

.king {
  height: 399px;
}

.satire {
  border: 4px solid grey;
  width: 1000px;
  height: 720px;
  padding: 10px;
  background-image: url(schweinN.jpg); 
  position: relative;
}

.Laughable {
  width:760px;
}

body {
  background-color:bisque;
}

p {
  font-family:'Times New Roman', sans-serif;
}

h2 {
  font-family: "Catamaran", sans-serif;
}

.special {
  font-size: 150%;
  color:aliceblue;
}

table, td {
  border: 2px solid grey;
  padding: 10px;
  background-color:beige;
}





.panel {
  position:fixed;
  z-index: 2;
  top:55%;
  right:0%;
}

.struggle {
  float:inherit;
}

.pluses {
  position:absolute;
  top:11px;
  right: 65px;
}

.wealth {
  height: 150px;
  float:left
}

.property {
  
}

.armours {
  height:190px;
  float: left;
}

.master {
  height:420px;
  float:left;
}

.natur {
  height: 210px;
}

.mother {
  position:absolute;
  right: 65px;
  top: 11px;
}

.opposites {
  height:100px;
}
